# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
yaw

# Output from profiling script
profile.png

# Valgrind logs
*.log
log.*
log

# Test files
testfile*
tf*

# gzipped files (mainly the man page)
*.gz
